{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <div class="row">
      <div class="jumbotron text-center">
        <h1>Node Translator</h1>
        <p>Wow! Check out this super awesome and impossibly difficult translator quiz!</p>

        <form id="login-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" placeholder="Username">
              <span class="input-group-addon">
                New User? <input type="checkbox">
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>

      </div>
    </div>


  </div>

{% endblock %}
