{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <form id="practice">
      <div class="form-group">
        <label for="exampleInputEmail1">Word to Translate</label>
        <input type="text" name="text" class="form-control" id="wordinput" placeholder="Insert Word to Translate">
      </div>
      <div class="form-group">
       <label for="languagefrom">Language Translating From</label>
         <select class="form-control" name="from" id="languagefrom">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
      </div>
       <div class="form-group">
       <label for="languageto">Language Translating To</label>
         <select class="form-control" name="to" id="languageto">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
      </div>

      <button type="button" class="btn btn-default" id="translate">Translate</button>
    </form>
    <div class="results">
    </div>
    <div class="alert alert-danger" role="alert" id="error">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Error
    </div>

    <hr>

       <div class="form-group">
       <label for="testlanguagefrom">Language Translating From</label>
         <select class="form-control" name="testfrom" id="testlanguagefrom">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
      </div>
       <div class="form-group">
       <label for="testlanguageto">Language Translating To</label>
         <select class="form-control" name="testto" id="testlanguageto">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
      </div>

    <button type="button" class="btn btn-default" id="select-languages">Select Languages</button>
    <div class="alert alert-success" role="alert" id="success">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Languages Selected Successfully
    </div>

   <button type="button" class="btn btn-default" id="start-quiz">Start Test</button>

  </div>



    <h4>Quiz</h4>
     <div class="form-group">
        <label for="exampleInputEmail1">Translate This Word</label>
        <div id="quizword"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">User Response</label>
        <input type="text" name="text" class="form-control" id="quizresponse" placeholder="Insert Word to Translate">
        <input type="submit" class="btn btn-primary btn-sm" id="submitAnswer">
      </div>
  <div id="quizRender"></div>
  <div id="quizResults"></div>

{% endblock %}
