{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}



  <div class="container">


    <form method = '/user' action = 'post'>
      <div class="form-group">
        <label for="User">User Name: </label>
        <input type="text" class="form-control" id="userName" placeholder="User">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">New User?
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>


    <div class="row">

      <h1>Practice Translating</h1>

      <div class="col-xs-6">

      <form id="practice">
        <div class="form-group">
          <label for="languagefrom">Language Translating From</label>
          <select class="form-control" name="from" id="languagefrom">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Word to Translate</label>
          <input type="text" name="text" class="form-control" id="wordinput" placeholder="Insert Word to Translate">
        </div>
      </div>

      <div class="col-xs-6">

       <div class="form-group">
          <label for="languageto">Language Translating To</label>
          <select class="form-control" name="to" id="languageto">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Translation</label>
          <input type="text" name="text" class="form-control" id="wordoutput" placeholder="Translation">
        </div>

      </div>

      <div class="row text-center">

        <button type="button" class="btn btn-primary animated rubberBand" id="translate">Translate</button>
      </form>

      </div>



        <div class="alert alert-danger" role="alert" id="error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Error
        </div>


    </div>


    <hr>


    <div class="row">

      <h1>Challenges</h1>

      <div class="col-xs-6">

       <div class="form-group">
       <label for="testlanguagefrom">Language Translating From</label>
         <select class="form-control" name="testfrom" id="testlanguagefrom">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
      </div>

      </div>

      <div class="col-xs-6">
       <div class="form-group">
       <label for="testlanguageto">Language Translating To</label>
         <select class="form-control" name="testto" id="testlanguageto">

          {% for key,val in object %}
            <option>{{ key }}</option>
          {% endfor %}

         </select>
         </div>
      </div>

      <div class="row text-center">

        <button type="button" class="btn btn-primary animated rubberBand" id="select-languages">Select Languages</button>
        <br><br>
          <div class="alert alert-success" role="alert" id="success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Languages Selected Successfully
          </div>
          <br><br>
          <div class="alert alert-danger" role="alert" id="not-selected">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            You have to select a language!!
          </div>

        <button type="button" class="btn btn-success animated rubberBand" id="start-quiz">Start Test</button>

      </div>



      <h2>Quiz</h2>

      <div class="row">

        <div class="row">

        <div class="col-xs-6">

         <div class="form-group">
            <label for="exampleInputEmail1">Translate This Word:</label>
            <div class="panel panel-default">
              <div id="quizword" class="panel-body">
              </div>
            </div>
          </div>

        </div>

         <div class="col-xs-6">

          <div class="form-group">
            <label for="exampleInputEmail1">Response</label>
            <input type="text" name="text" class="form-control" id="quizresponse" placeholder="Insert Word to Translate">

          </div>

         </div>

        </div>
      </div>


      <div class="row text-center">

          <button type="submit" class="btn btn-primary animated rubberBand" id="submitAnswer">Submit Answer</button>

      </div>

       <div class="row text-center">

        <div id="quizRender"></div>
        <div id="quizResults"></div>

      <div class="row text-center">

         <button type="button" class="btn btn-success animated rubberBand" id="new-quiz">New Test</button>

      </div>


      </div>



    </div>

    <hr>

    <div class="row">

    <h1>Progress</h1>

    </div>



  </div>

{% endblock %}
